.bg-container{
    width : 100%;
    height: auto;
}

.img-main-container{
    border: 1px solid #000000;
    padding: 0;
    margin-top: 50px;
}

.header-container{
    height : 60px;
}

.logo{
    padding: 5px;
    border: 1px solid #000000;
    text-align: center;
    width: 10%;
    margin: 10px 0 0 55px;
    font-family: "Roboto";
}

.title{
    margin: 10px 0 0 285px;
    padding: 2px;
    border: 1px solid #000000;
    width: 25%;
    text-align: center;
    font-family: "Roboto";
}

.hr-line{
    background-color: #000000;
    opacity: 1;

}

.img-header-container{
    height : 200px;
}

.main-heading{
    font-family: "Roboto";
    font-size: 18px;
}

.img-container{
    padding: 25px;
}



@media (max-width: 992px) {
    .header-container {
        display: flex;
        height: auto; 
        justify-content: space-evenly;
        align-items: start;
    }

    .logo {
        width: 20%; 
        position: relative;
        padding: 22px 5px 5px 5px;
        text-align: start;
        margin: 0;
        border: none;
    }

    .logo::after {
        content: ""; 
        position: absolute; 
        right: 35px; 
        top: 0; 
        height: 130%;
        width: 1px; 
        background-color: #000000; 
    }

    .title {
        width: 60%; 
        margin: 5px 0 0 0; 
    }
}


@media (max-width: 480px) {
    .logo {
        width: 30%; 
        position: relative;
        padding: 22px 5px 5px 5px;
        text-align: center;
        margin: 0;
    }

    .logo::after {
        content: ""; 
        position: absolute; 
        right: -15px; 
        top: 0; 
        height: 128%;
        width: 1px; 
        background-color: #000000; 
    }

    .title {
        width: 40%; 
        margin-top: 15px;
    }
}